@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&family=Source+Code+Pro:wght@400;800&display=swap");

* {
  box-sizing: border-box;
}
h3,
p,
h1,
h4 {
  margin: 0;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
body,
select,
button {
  font-family: "Open Sans", sans-serif;
}
body {
  --faded-black: rgb(165, 165, 165);
  --faded-white: rgb(226, 226, 226);
}
